@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.form-control {
	font-size: 14px;
	color: purple;
}

#validation-message li {
	margin-bottom: 1em;
}

.validation-toggle li {
	font-size: 13px;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
}

::placeholder {
	font-family: "Poppins", sans-serif;
}

.payload-console-header {
	background-color: #6c33a3;
	background-image: linear-gradient(316deg, #6c33a3 0%, #8241b8 74%);
}

#url-block,
#payload-block {
	color: rgb(187, 8, 219);
}

#togglePassword {
	cursor: pointer;
}

button.remove-item-group {
	height: 34px;
}

footer {
	margin-top: 200px;
}
