@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.form-control {
	font-size: 14px;
	color: purple;
}

#validation-message li {
	margin-bottom: 1em;
}

.validation-toggle li {
	font-size: 13px;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
}

::placeholder {
	font-family: "Poppins", sans-serif;
}

/* .payload-console {
	background-color: #323f4b;
	color: #fee39e;
} */

.payload-console-header {
	background: #0cebeb; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#29ffc6,
		#20e3b2,
		#0cebeb
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#29ffc6,
		#20e3b2,
		#0cebeb
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
